{% extends 'base.html' %} {% load static %} {% block body %}
<!-- ============================================================== -->
<!-- Top header  -->
<!-- ============================================================== -->
<!-- ======================= Top Breadcrubms ======================== -->
<div class="gray py-3">
  <div class="container">
    <div class="row">
      <div class="colxl-12 col-lg-12 col-md-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'home:home' %}">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">About</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- ======================= Top Breadcrubms ======================== -->

<!-- ======================= About Us Detail ======================== -->
<section class="middle">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="abt_caption">
          <img
            src="{% static 'assets/img/newImages/new1/logo.png' %}"
            class="img-fluid rounded"
            alt=""
          />
        </div>
      </div>

      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="abt_caption">
          <h2 class="ft-medium mb-4">Fury Digital Printing</h2>
          <p class="mb-4">
            FuryDGP serves as the quintessential hub for unleashing design
            prowess. Our digital platform offers an array of intuitive tools
            that seamlessly shape your creative visions into tangible,
            awe-inspiring designs. We're committed to delivering not just
            designs, but experiences. Our dedication extends beyond the
            screen—we're here to partner with you on your design journey,
            ensuring every stroke, pixel, and hue aligns perfectly with your
            imagination. What sets us apart? Quality and affordability. We boast
            top-tier printing services that breathe life into your designs,
            rendering vivid colors and sharp details. Despite our efforts for
            precise color representation on our site, monitor disparities might
            lead to slight variations. But rest assured, our focus remains
            steadfast: to deliver designs that surpass expectations and leave
            lasting impressions.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ======================= About Us End ======================== -->

{% endblock %}
