{% extends 'base.html' %}
{% load static %}
{% block style %}
<link href="{% static 'assets/libs/select2/js/select2.min.js' %}" rel="stylesheet">
<link href="{% static 'assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'assets/libs/simpleCalndr/simple-calendar.css' %}">
<style>
	[type="radio"]: + label, [type="radio"]:not(:) + label {
padding-left: 30px;
line-height: 25px;
}
	[type="radio"]: + label:before, [type="radio"]:not(:) + label:before {
width: 25px;
height: 25px;
}
	 .checkbox-custom: +  .checkbox-custom-label:before {
background: #000 !important;
border-radius: 50%;
}
.checkbox-custom: +  .checkbox-custom-label:after {
left: 0;
top: 0;
font-size: 14px;
color: #ffffff !important;
background: #000 !important;
width: 25px;
height: 25px;
text-align: center;
line-height: 27px;
}
	
	.datepicker table{
		width: 100%;
	}
	.datepicker-inline {
width: 100%;
}
.alert-error {
color: red;
background-color: #f2dede;
border-color: #eed3d7;
}

	.datepicker table tr td.active.active{
	   border-radius: 50%;
background: #eac97a;
color: #000;
	}
	.datepicker td, .datepicker th{
		height: 50px;
		width: 50px;
		border-radius: 50%;
	}
	.datepicker table tr td.day:hover{
		background: #0e0e0e;
		border-radius: 50%;
	}
	.datepicker table tr td.active.active, .datepicker table tr td.active:hover, .datepicker table tr td.active:hover.active, .datepicker table tr td.active:hover:hover{
		background: #eac97a;
		color: #000;
	}


</style>


{% endblock %}


{% block body %}


				<!-- ======================= Top Breadcrubms ======================== -->
				<div class="gray py-3">
					<div class="container">
						<div class="row">
							<div class="colxl-12 col-lg-12 col-md-12">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="index.html">Home</a></li>
										<li class="breadcrumb-item active" aria-current="page">Call Designer</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
				</div>
				<!-- ======================= Top Breadcrubms ======================== -->
				
				<!-- ======================= Dashboard Detail ======================== -->
				<section class="middle CheckOutPage cllExpertTwo">
					<div class="container">
						<div class="row align-items-start justify-content-between">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<div class="submit-page">
											<!-- django message with close btn --->
											{% if messages %}
											
												{% for message in messages %}
												<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
												{{ message }}
												</div>
												{% endfor %}
											
											{% endif %}
												<form method="post" enctype="multipart/form-data">
													{% csrf_token %}

													<input type="text" name="fromtime" id="fromtime" class="d-none">
													<input type="text" name="totime" id="totime" class="d-none">
													<input type="text" name="data" id="data" class="d-none">
	
													<div class="row">
														<div class="col-lg-4">
															<div class="CallInputsInfo">
															 
																<div class="row">
																	
																	<div class="col-lg-12">
																		<div class="form-group">
																			<label> Name</label>
																			<input type="text" class="form-control"  name="name" placeholder="Name" required>
																		</div>
																	</div>
																	<div class="col-lg-12">
																		<div class="form-group">
																			<label>Email</label>
																			<input type="email" class="form-control" name="email" placeholder="Email" required>
																		</div>
																	</div>
																	<div class="col-lg-12">
																		<div class="form-group">
																			<label>Subject</label>
																			<input type="text" class="form-control" name="subject" placeholder="Subject" required>
																		</div>
																	</div>
																	<div class="col-lg-12">
																		<div class="form-group">
																			<label>Upload File</label>
																			<input type="file" class="form-control" name="upload_file" accept=".pdf,.doc,.docx,.png,.jpg,.jpeg" placeholder="Subject" required>
																		</div>
																	</div>
																	<div class="col-lg-12">
																		<div class="form-group">
																			<label>Leave Message</label>
																			<textarea style="max-height:100px;" name="message" class="form-control" placeholder="Message" required></textarea>
																		</div>
																	</div>
																	
																</div>
														   
															</div>
														</div>
														<div class="col-lg-5">
															<div class="ClaenderBox">
																<div data-provide="datepicker-inline"  class="bootstrap-datepicker-inline"></div>
	
	<!--                                                            <div id="container" class="calendar-container"></div>-->
															</div>
														</div>
														<div class="col-lg-3">
															<div class="CallAppointMentBox">
																<div class="twochoise mb-3">
														<div class="paymentWrap">
															<div class="btn-group paymentBtnGroup btn-group-justified"
																data-toggle="buttons">
																
															   
																
															 
															</div>
														</div>
													</div>
															</div>
														</div>
													   
				  
	
	
														<div class="col-lg-12 col-md-12 col-sm-12">
															<div class="form-group text-center">
																<button type="submit" id="submitbtn" class="btn BookBUTTON full-width" disabled>
																	Book Date & Time Now</button>
															</div>
														</div>
	
	
	
													</div>
												</form>
												<!--/row -->
											</div>
							</div>
						</div>
					</div>
				</section>
				<!-- ======================= Dashboard Detail End ======================== -->
				
			{% block script %}
			<script src="{% static 'assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
			<script src="{% static 'assets/libs/select2/js/select2.min.js' %}"></script>
			<!-- ============================================================== -->
			<!-- This page plugins -->
			<!-- ============================================================== -->	
	
		
		
			<script>
				// Function to handle the changeDate event
				function handleDateChange(event) {
		
				// check that data not in past 
				// get today date by date not time
				var today = new Date();
				today.setHours(0,0,0,0);
				var date = event.date;
				var singleTime=""
				//get paymentBtnGroup element by class name
				var timesection = document.getElementsByClassName("paymentBtnGroup");
				// clear the div
				timesection[0].innerHTML=""
				//if the date is in past display message the data is in past you must select next data
				if(today>date)
				{
					singleTime=`<div class="" role="alert">You must select today or next</div>`
					timesection[0].innerHTML=singleTime
					return
				}

				// get from date day name
				var dayName = date.toLocaleString('en-us', {  weekday: 'long' });
				// convert date to be like 2020-12-12
				date=date.toISOString().slice(0,10)
				// date += 1day
				date = new Date(date);
				date.setDate(date.getDate() + 1);
				// convert date to be like 2020-12-12
				date=date.toISOString().slice(0,10)
				
				// get data element by id
				var datainput = document.getElementById("data");
				datainput.value=date
				console.log(date)


				// get from date month name

				// make ajax request to get avilable time from database by day name and data
				$.ajax({
				url: "{% url 'dragon:get_available_time' %}",
				type: "GET",
				data: {
				"dayName": dayName,
				"date": date
				},
				success: function (data) {
					console.log(data)
				// if there is no avilable time display message no avilable time
				if(data.available_times.length==0)
				{
				singleTime=`<div class="" role="alert">No avilable time</div>`
				timesection[0].innerHTML=singleTime
				return
				}
				// static oject with avilable time from 1am to 4 pm
				avialableTime=data.available_times
				// loop on all avilable time and set it to the div
				for (var i = 0; i < avialableTime.length; i++) {
				singleTime=`
				<label class="btn paymentMethod  " onclick="putTime(this)">
					 <div class="method visa">
						 <div class="sasasas">
							 <p  >from: ${avialableTime[i].from}-To: ${avialableTime[i].to}</p>
						 </div>
					 </div>
					 <input type="radio" name="options" >
				 </label>
				`;
				timesection[0].innerHTML+=singleTime
				}
			},
			error: function (error) {
				console.log(error)
			}
			});
				}
				// Add an event listener for the changeDate event
				$('.bootstrap-datepicker-inline').datepicker().on('changeDate', handleDateChange);
			  </script>
		

			<script>
				function putTime(item){
					// this item inner text from: 03:00-To: 03:30 in want to get 03:00 and 03:30
					 // Regular expression to match time patterns
					var timePattern = /\d{2}:\d{2}/g;
					var timeText=item.innerText
					console.log(timeText)
					// Extract all time patterns from the input string
					var times = timeText.match(timePattern);
					from=times[0]
					to=times[1]
					// get fromtime element by id
					var fromtime = document.getElementById("fromtime");
					// get totime element by id
					var totime = document.getElementById("totime");
					// set from time to fromtime element
					fromtime.value=from
					// set to time to totime element
					totime.value=to

					// get submitbtn element by id
					var submitbtn = document.getElementById("submitbtn");
					// enable submitbtn
					submitbtn.disabled=false


				}
			</script>
	  


	

			{% endblock %}

{% endblock %}