{% extends 'base.html' %}
{% load static %}

{% block body %}
			<!-- ======================= Top Breadcrubms ======================== -->
			<div class="gray py-3">
				<div class="container">
					<div class="row">
						<div class="colxl-12 col-lg-12 col-md-12">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="#">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Cart</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!-- ======================= Top Breadcrubms ======================== -->
			
			<!-- ======================= Product Detail ======================== -->
			<section class="middle">
				<div class="container">
				
					
					<div class="row justify-content-between">
						<div class="col-12 col-lg-8 col-md-12">
                            							<!-- Single Order List -->
							<div class="ord_list_wrap border mb-4 mfliud">
								<div class="ord_list_head ">
                                    
                                    <div class="tablerespsonsive">
                                        <table class="table tablecarrrt">
                                            <thead class="ord_list_head gray">
                                                <tr>
                                                    <th>
                                                        <div class="olh_flex text-center">
                                                            <h6 class="mb-0 ft-medium">Price</h6>
                                                        </div>	
                                                    </th>
                                                    <th>
                                                        <div class="olh_flex text-center">
                                                            <h6 class="mb-0 ft-medium">Quantity</h6>
                                                        </div>
                                                    </th>
                                                    <th >
                                                        <div class="olh_flex">
                                                            <h6 class="mb-0 ft-medium">Product Image</h6>
                                                        </div>
                                                    </th>
                                                    <th >
                                                        <div class="olh_flex">
                                                            <h6 class="mb-0 ft-medium">Product Color</h6>
                                                        </div>
                                                    </th>
                                                    <th>
                                                        <div class="olh_flex">
                                                            <h6 class="mb-0 ft-medium">Front Design</h6>
                                                        </div>
                                                    </th>
                                                    <th >
                                                        <div class="olh_flex">
                                                            <h6 class="mb-0 ft-medium">Back Design</h6>
                                                        </div>
                                                    </th>
                                                    {% comment %} <th>
                                                        <div class="olh_flex text-center">
                                                            <h6 class="mb-0 ft-medium"><i class="fas fa-trash-alt"></i></h6>
                                                        </div>
                                                    </th> {% endcomment %}
                                                </tr>
                                            </thead>
                                            <tbody class="ord_list_body text-left">
                                                {% if product_card %}
                                                {% for card in product_card %}
                                                <tr class="br-bottom">
                                                    <td>
                                                        <div class="ProductPrice">
                                                            <h4 class="fs-sm ft-bold mb-0 lh-1">{{ card.total_price }}</h4>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="ProductName">
                                                            <h4 class="fs-sm ft-bold mb-0 lh-1">{{ card.quantity }}</h4>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="cart_single ProductImage d-flex align-items-start mfliud-bot">
                                                            <div class="cart_selected_single_thumb" style="width: 100%">
                                                                <a href="#">
                                                                    <img src="{{card.product.frontimage.url}}" width="75" class="img-fluid rounded" alt="">
                                                                </a>
                                                                
                                                            </div>
                                                            
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="cart_single ProductImage d-flex align-items-start mfliud-bot">
                                                            <div class="cart_selected_single_thumb" style="width: 100%">
                                                                <a href="#">
                                                                    <p>{{card.product_color}}</p>
                                                                    <label
                                                                    for=""
                                                                    class="colorItem active"
                                                                    style="background: {{card.product_color}};width: 20px;height: 20px;"
                                                                    >
                                                                    <span
                                                                        class="IconCheck bx bx-check"
                                                                        style="color: {{card.product_color}"
                                                                    ></span>
                                                                </label>                                                                </a>
                                                                
                                                            </div>
                                                            
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="cart_single d-flex align-items-start mfliud-bot">
                                                            <div class="cart_selected_single_thumb">
                                                                <a href="#">
                                                                    <img src="{{card.frontcanvas}}" width="75" class="img-fluid rounded" alt="">
                                                                </a>
                                                            </div>
                                                            
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="cart_single d-flex align-items-start mfliud-bot">
                                                            <div class="cart_selected_single_thumb">
                                                                <a href="#">
                                                                    <img src="{{card.backcanvas}}" width="75" class="img-fluid rounded" alt="">
                                                                </a>
                                                            </div>
                                                            
                                                        </div>
                                                    </td>
                                                    
                                                    {% comment %} <td>
                                                        <div class="fls_last TrashItem"><button class="close_slide gray"><i class="ti-close"></i></button></div>
                                                    </td> {% endcomment %}
                                                </tr>
                                                {% endfor %}
                                                {% else %}
                                                <tr>
                                                    <td colspan="6">
                                                        <div class="alert" role="alert">
                                                            <strong>Cart is empty!</strong>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endif %}
                                                
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                    
								</div>

								<div class="ord_list_footer d-flex align-items-center justify-content-between br-top px-3">
									<div class="col-xl-3 col-lg-3 col-md-4 olf_flex text-left px-0 py-2 br-right"><a href="javascript:void(0);" class="ft-medium fs-sm"><i class="ti-close mr-2"></i>Cleare Cart</a></div>
									<div class="col-xl-9 col-lg-9 col-md-8 pr-0 py-2 olf_flex d-flex align-items-center justify-content-between">
										<div class="olf_flex_inner hide_mob"><p class="m-0 p-0"><span class="text-muted medium"></span></p></div>
										<div class="olf_inner_right"><h5 class="mb-0 fs-sm ft-bold">Total: ${{product_card.total}}</h5></div>
									</div>
								</div>
							</div>
							<!-- End Order List -->
							
                        </div>
						
						<!-- Sidebar -->
						<div class="col-12 col-lg-4 col-md-12">
							
							
							<div class="card mb-4 gray">
							  <div class="card-body">
								<ul class="list-group list-group-sm list-group-flush-y list-group-flush-x">
								 
								  <li class="list-group-item d-flex text-dark fs-sm ft-regular">
									<span>Total</span> <span class="ml-auto text-dark ft-medium">${{product_card.total}}</span>
								  </li>
								  
								</ul>
							  </div>
							</div>
                           
                            <!--order url-->
							<button class="btn btn-block btn-dark mb-3" id="pay_for_order" >Place Your Order</button>
						</div>
						
					</div>
					
				</div>
			</section>
			<!-- ======================= Product Detail End ======================== -->
			



{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
        $("#pay_for_order").click(function(){
            var url = "{% url 'product:order' %}";
            // ajax call get request
            $.ajax({
                url: url,
                type: 'GET',
                success: function(response){
                    console.log(response);
                },
                error: function(response){
                    console.log(response);
                }
            });
        });
    });
</script>
{% endblock %}