{% extends 'base.html' %}
{% load static %}

{% block body %}
			<!-- ======================= Top Breadcrubms ======================== -->
			<div class="gray py-3">
				<div class="container">
					<div class="row">
						<div class="colxl-12 col-lg-12 col-md-12">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="#">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Cart</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!-- ======================= Top Breadcrubms ======================== -->
			
			<!-- ======================= Product Detail ======================== -->
			<section class="middle">
				<div class="container">
				
					
					<div class="row justify-content-between">
						<div class="col-12 col-lg-8 col-md-12">
                            							<!-- Single Order List -->
							<div class="ord_list_wrap border mb-4 mfliud">
								<div class="ord_list_head ">
                                    
                                    <div class="tablerespsonsive">
                                        <table class="table tablecarrrt">
                                            <thead class="ord_list_head gray">
                                                <tr>
                                                    <th>
                                                        <div class="olh_flex text-center">
                                                            <h6 class="mb-0 ft-medium"><i class="fa fa-trash"></i></h6>
                                                        </div>	
                                                    </th>
                                                    <th>
                                                        <div class="olh_flex text-center">
                                                            <h6 class="mb-0 ft-medium">Price</h6>
                                                        </div>	
                                                    </th>
                                                    <th>
                                                        <div class="olh_flex text-center">
                                                            <h6 class="mb-0 ft-medium">Quantity</h6>
                                                        </div>
                                                    </th>
                                                    <th >
                                                        <div class="olh_flex">
                                                            <h6 class="mb-0 ft-medium">Product Image</h6>
                                                        </div>
                                                    </th>
                                                    <th >
                                                        <div class="olh_flex">
                                                            <h6 class="mb-0 ft-medium">Product Color</h6>
                                                        </div>
                                                    </th>
                                                    <th>
                                                        <div class="olh_flex">
                                                            <h6 class="mb-0 ft-medium">Front Design</h6>
                                                        </div>
                                                    </th>
                                                    <th >
                                                        <div class="olh_flex">
                                                            <h6 class="mb-0 ft-medium">Back Design</h6>
                                                        </div>
                                                    </th>
                                                    {% comment %} <th>
                                                        <div class="olh_flex text-center">
                                                            <h6 class="mb-0 ft-medium"><i class="fas fa-trash-alt"></i></h6>
                                                        </div>
                                                    </th> {% endcomment %}
                                                </tr>
                                            </thead>
                                            <tbody class="ord_list_body text-left">
                                                {% if product_card %}
                                                {% for card in product_card %}
                                                <tr class="br-bottom">
                                                    <td>
                                                        <div class="ProductPrice">
                                                            <button onclick="remove_from_card({{ card.product.id }})" class="fs-sm ft-bold mb-0 lh-1 text-danger">delete</button>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="ProductPrice">
                                                            <h4 class="fs-sm ft-bold mb-0 lh-1">{{ card.total_price }}</h4>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="ProductName">
                                                            <h4 class="fs-sm ft-bold mb-0 lh-1">{{ card.quantity }}</h4>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="cart_single ProductImage d-flex align-items-start mfliud-bot">
                                                            <div class="cart_selected_single_thumb" style="width: 100%">
                                                                <a href="#">
                                                                    <img src="{{card.product.frontimage.url}}" width="75" class="img-fluid rounded" alt="">
                                                                </a>
                                                                
                                                            </div>
                                                            
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="cart_single ProductImage d-flex align-items-start mfliud-bot">
                                                            <div class="cart_selected_single_thumb" style="width: 100%">
                                                                <a href="#">
                                                                    <p>{{card.product_color}}</p>
                                                                    <label
                                                                    for=""
                                                                    class="colorItem active"
                                                                    style="background: {{card.product_color}};width: 20px;height: 20px;"
                                                                    >
                                                                    <span
                                                                        class="IconCheck bx bx-check"
                                                                        style="color: {{card.product_color}"
                                                                    ></span>
                                                                </label>                                                                </a>
                                                                
                                                            </div>
                                                            
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="cart_single d-flex align-items-start mfliud-bot">
                                                            <div class="cart_selected_single_thumb">
                                                                <a href="#">
                                                                    <img src="{{card.frontcanvas}}" width="75" class="img-fluid rounded" alt="">
                                                                </a>
                                                            </div>
                                                            
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="cart_single d-flex align-items-start mfliud-bot">
                                                            <div class="cart_selected_single_thumb">
                                                                <a href="#">
                                                                    <img src="{{card.backcanvas}}" width="75" class="img-fluid rounded" alt="">
                                                                </a>
                                                            </div>
                                                            
                                                        </div>
                                                    </td>
                                                    
                                                    {% comment %} <td>
                                                        <div class="fls_last TrashItem"><button class="close_slide gray"><i class="ti-close"></i></button></div>
                                                    </td> {% endcomment %}
                                                </tr>
                                                {% endfor %}
                                                {% else %}
                                                <tr>
                                                    <td colspan="6">
                                                        <div class="alert" role="alert">
                                                            <strong>Cart is empty!</strong>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endif %}
                                                
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                    
								</div>
                                
								<div class="ord_list_footer d-flex align-items-center justify-content-between br-top px-3">
									<div class="col-xl-3 col-lg-3 col-md-4 olf_flex text-left px-0 py-2 br-right"><button  onclick="clear_card()" class="ft-medium fs-sm"><i class="ti-close mr-2"></i>Cleare Cart</button></div>
									<div class="col-xl-9 col-lg-9 col-md-8 pr-0 py-2 olf_flex d-flex align-items-center justify-content-between">
										<div class="olf_flex_inner hide_mob"><p class="m-0 p-0"><span class="text-muted medium"></span></p></div>
										<div class="olf_inner_right"><h5 class="mb-0 fs-sm ft-bold">Subtotal: ${{product_card.total}}</h5></div>
									</div>
								</div>
							</div>
							<!-- End Order List -->
							<div class="CartDescription">
                                    <p>For same day pickup option please contact our sister company <a href="#">IKE PRINT</a></p>
                                </div>
                        </div>
						
						<!-- Sidebar -->
						<div class="col-12 col-lg-4 col-md-12">
							
							
							<div class="card mb-4 gray">
							  <div class="card-body">
								<ul class="list-group list-group-sm list-group-flush-y list-group-flush-x">
								 
								  <li class="list-group-item d-flex text-dark fs-sm ft-regular">
									<span>Subtotal</span> <span class="ml-auto text-dark ft-medium">${{product_card.subtotal}}</span>
								  </li>
								  <li class="list-group-item d-flex text-dark fs-sm ft-regular">
									<span>Tax</span> <span class="ml-auto text-dark ft-medium">${{product_card.tax}} </span>
								  </li>
								  <li class="list-group-item d-flex text-dark fs-sm ft-regular">
									<span>Transaction fees</span> <span class="ml-auto text-dark ft-medium">${{product_card.transaction_fee}} </span>
								  </li>
                                  <!--methods_of_receiving-->
                                  <li class="list-group-item d-flex text-dark fs-sm ft-regular">
                                    <span>Method of Receiving</span> 
                                    <select name="method_of_receiving" id="method_of_receiving" class="ml-auto text-dark ft-medium">
                                        <option  value="pickup" selected>Pickup</option>
                                        <option value="delivery">Delivery within a 20-mile</option>
                                        <option value="Shipping">Shipping</option>
                                    </select>
                                   </li>
                                  <li class="list-group-item d-flex text-dark fs-sm ft-regular">
									<span>Total Price</span> <span class="ml-auto text-dark ft-medium" id="total_price_fee">${{product_card.total_price}} </span>
								  </li>
                                  
								</ul>
							  </div>
							</div>
                           
                            {% if product_card %}
                            <!--order url-->
                            <form id="csrf-form" method="POST" action="{% url 'product:order' %}">
                                {% csrf_token %}
                                <input type="hidden" name="method_of_receiving_input" value="pickup">
							<button type="submit" class="btn btn-block btn-dark mb-3" id="pay_for_order" >Place Your Order</button>
                            </form>
                            <!--paypal-->

                            {% else %}

                            <button class="btn btn-block btn-dark mb-3" disabled>Place Your Order</button>
                            {% endif %}


						</div>
						
					</div>
					
				</div>
			</section>
			<!-- ======================= Product Detail End ======================== -->
            <!-- ======================= hidden form to get csrftokken ======================== -->
            




{% endblock %}

{% block script %}
 
<script>
    document.addEventListener("DOMContentLoaded", function() {
    var total_price = {{product_card.total_price}};
    var shipping_price={{shipping_price}}
    // get method_of_receiving by id
    var method_of_receiving = document.getElementById('method_of_receiving');
    // get method_of_receiving_input by name
    var method_of_receiving_input = document.getElementsByName('method_of_receiving_input')[0];
    // add event listener to method_of_receiving
    method_of_receiving.addEventListener('change', function(){
        console.log(total_price)
        // set method_of_receiving_input value to method_of_receiving value
        method_of_receiving_input.value = method_of_receiving.value;
        // get total_price_fee by id
        var total_price_fee = document.getElementById('total_price_fee');
        // if method_of_receiving.value is delivery total_price_fee = total_price + 20
        if (method_of_receiving.value == 'delivery'){
            total_price_fee.innerHTML = total_price + 20;
            
        }
        else if (method_of_receiving.value == 'Shipping'){
            total_price_fee.innerHTML = total_price + shipping_price;
        }
        else{
            total_price_fee.innerHTML = total_price;
        }
        

    });
});
</script>


<script>
    function remove_from_card(product_id){
        var url = "{% url 'product:remove_from_card' 0 %}"
        url = url.replace('0', product_id);
        // ajax call get request
        $.ajax({
            url: url,
            type: 'GET',
            success: function(response){
                console.log(response);
                // refresh the page
                location.reload();
                alert('Product Removed Successfully');
            },
            error: function(response){
                console.log(response);
            }
        });
    }


    function clear_card(){
        var url = "{% url 'product:clear_card'  %}"
        // ajax call get request
        $.ajax({
            url: url,
            type: 'GET',
            success: function(response){
                console.log(response);
                // refresh the page
                location.reload();
                alert('card has cleared');
            },
            error: function(response){
                console.log(response);
            }
        });
    }

</script>


<script>
    var form = document.querySelector('.paypaleBoxInputs form');
    if (form) {
        var inputElements = form.querySelectorAll('input[type="image"]');
        if (inputElements.length > 0) {
            var lastImageInput = inputElements[inputElements.length - 1];        
            lastImageInput.removeAttribute('src');
        }
    }
</script>
<script>
    /**$(document).ready(function(){
        $("#pay_for_order").click(function(){
            var url = "{% url 'product:order' %}";
            // ajax call get request
            $.ajax({
                url: url,
                type: 'GET',
                success: function(response){
                    console.log(response);
                    // refresh the page
                    location.reload();
                    alert('Order Placed Successfully');
                },
                error: function(response){
                    console.log(response);
                }
            });
        });
    });**/
</script>            
{% endblock %}