{% extends 'base.html' %}
{% load static %}

{% block body %}

            			<!-- ============================ Hero Banner  Start================================== -->
			<div class="home-slider margin-bottom-0">

                <div class="item">
					<div class="videoBanner">
                        <video muted autoplay loop>
                            <source src="{% static 'assets/Videos/1.mp4' %}">
                        </video>
                    </div>
				</div>
				<!-- Slide -->
				<div data-background-image="{% static 'assets/img/newImages/new1/banner-2.png' %}" class="item">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="home-slider-container">

									<!-- Slide Title -->
									<div class="home-slider-desc">
										<div class="home-slider-title mb-4">
											<h5 class="theme-cl fs-sm ft-ragular mb-0">Winter Collection</h5>
											<h1 class="mb-1 ft-bold lg-heading">New Winter<br>Collections 2021</h1>
											<span class="trending">There's nothing like trend</span>
										</div>

										<a href="#" class="btn stretched-link borders">Shop Now<i class="lni lni-arrow-right ml-2"></i></a>
									</div>
									<!-- Slide Title / End -->

								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Slide -->
				<div data-background-image="{% static 'assets/img/newImages/new1/banner1.png' %}" class="item">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="home-slider-container">

									<!-- Slide Title -->
									<div class="home-slider-desc">
										<div class="home-slider-title mb-4">
											<h5 class="theme-cl fs-sm ft-ragular mb-0">Winter Collection</h5>
											<h1 class="mb-1 ft-bold lg-heading">New Winter<br>Collections 2021</h1>
											<span class="trending">There's nothing like trend</span>
										</div>

										<a href="#" class="btn stretched-link borders">Shop Now<i class="lni lni-arrow-right ml-2"></i></a>
									</div>
									<!-- Slide Title / End -->

								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Slide -->
				<div data-background-image="{% static 'assets/img/banner-7.png' %}" class="item">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="home-slider-container">

									<!-- Slide Title -->
									<div class="home-slider-desc">
										<div class="home-slider-title mb-4">
											<h5 class="theme-cl fs-sm ft-ragular mb-0">Winter Collection</h5>
											<h1 class="mb-1 ft-bold lg-heading">New Winter<br>Collections 2021</h1>
											<span class="trending">There's nothing like trend</span>
										</div>

										<a href="#" class="btn stretched-link borders">Shop Now<i class="lni lni-arrow-right ml-2"></i></a>
									</div>
									<!-- Slide Title / End -->

								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- ============================ Hero Banner End ================================== -->
			
            			<!-- ======================= All Category ======================== -->
			<section class="middle">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<div class="sec_title position-relative text-center">
								<h2 class="off_title">Popular Categories</h2>
								<h3 class="ft-bold pt-3">Trending Categories</h3>
							</div>
						</div>
					</div>
					<div class="row align-items-center justify-content-center">
						<div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-4">
							<div class="cats_side_wrap text-center mx-auto mb-3">
								<div class="sl_cat_01"><div class="d-inline-flex align-items-center justify-content-center p-4 circle mb-2"><a href="javascript:void(0);" class="d-block"><img src="{% static 'assets/img/newImages/new1/cap-2.png' %}" class="img-fluid" width="40" alt=""></a></div></div>
								<div class="sl_cat_02"><h6 class="m-0 ft-medium fs-sm"><a href="javascript:void(0);">Men's Wear</a></h6></div>
							</div>
						</div>
						
						<div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-4">
							<div class="cats_side_wrap text-center mx-auto mb-3">
								<div class="sl_cat_01"><div class="d-inline-flex align-items-center justify-content-center p-4 circle mb-2"><a href="javascript:void(0);" class="d-block"><img src="{% static 'assets/img/newImages/new1/pant-white.png' %}" class="img-fluid" width="40" alt=""></a></div></div>
								<div class="sl_cat_02"><h6 class="m-0 ft-medium fs-sm"><a href="javascript:void(0);">Kid's Wear</a></h6></div>
							</div>
						</div>
						
						<div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-4">
							<div class="cats_side_wrap text-center mx-auto mb-3">
								<div class="sl_cat_01"><div class="d-inline-flex align-items-center justify-content-center p-4 circle mb-2"><a href="javascript:void(0);" class="d-block"><img src="{% static 'assets/img/newImages/new1/tshirt-white.png' %}" class="img-fluid" width="40" alt=""></a></div></div>
								<div class="sl_cat_02"><h6 class="m-0 ft-medium fs-sm"><a href="javascript:void(0);">Accessories</a></h6></div>
							</div>
						</div>
						
						<div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-4">
							<div class="cats_side_wrap text-center mx-auto mb-3">
								<div class="sl_cat_01"><div class="d-inline-flex align-items-center justify-content-center p-4 circle mb-2"><a href="javascript:void(0);" class="d-block"><img src="{% static 'assets/img/newImages/new1/cap-2.png' %}" class="img-fluid" width="40" alt=""></a></div></div>
								<div class="sl_cat_02"><h6 class="m-0 ft-medium fs-sm"><a href="javascript:void(0);">Men's Shoes</a></h6></div>
							</div>
						</div>
						
						<div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-4">
							<div class="cats_side_wrap text-center mx-auto mb-3">
								<div class="sl_cat_01"><div class="d-inline-flex align-items-center justify-content-center p-4 circle mb-2"><a href="javascript:void(0);" class="d-block"><img src="{% static 'assets/img/newImages/new1/pant-white.png' %}" class="img-fluid" width="40" alt=""></a></div></div>
								<div class="sl_cat_02"><h6 class="m-0 ft-medium fs-sm"><a href="javascript:void(0);">Television</a></h6></div>
							</div>
						</div>
						
						<div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-4">
							<div class="cats_side_wrap text-center mx-auto mb-3">
								<div class="sl_cat_01"><div class="d-inline-flex align-items-center justify-content-center p-4 circle mb-2"><a href="javascript:void(0);" class="d-block"><img src="{% static 'assets/img/newImages/new1/tshirt-white.png' %}" class="img-fluid" width="40" alt=""></a></div></div>
								<div class="sl_cat_02"><h6 class="m-0 ft-medium fs-sm"><a href="javascript:void(0);">Men's Pants</a></h6></div>
							</div>
						</div>
					</div>
					
				</div>
			</section>
			<!-- ======================= All Category ======================== -->
			
            
            			<!-- ======================= About Us Detail ======================== -->
			<section class="middle" style="display: none;">
				<div class="container">
					<div class="row align-items-center justify-content-between">
						
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
							<div class="abt_caption">
								<img src="{% static 'assets/img/about-2.png' %}" class="img-fluid rounded" alt="" />
							</div>
						</div>
						
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
							<div class="abt_caption">
								<h2 class="ft-medium mb-4">Justin Lisiakir</h2>
								<p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
								<p class="mb-4">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
								
							</div>
						</div>
						
					</div>
				</div>
			</section>
			<!-- ======================= About Us End ======================== -->
			
            
            
            			<!-- ========================= Category Style ========================== -->
			<section class="middle p-0">
				<div class="container-fluid">
					<div class="row no-gutters exlio_gutters">
						
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
							<div class="single_cats">
								<a href="#" class="cards card-overflow card-scale lg_height">
									<div class="bg-image" style="background:url({% static 'assets/img/newImages/new1/7.png' %})no-repeat;"></div>
									<div class="ct_body">
										<div class="ct_body_caption left">	
											<h2 class="m-0 ft-bold lh-1 fs-md text-upper">Women Clothes</h2>
											<span>3272 Items</span>
										</div>
										<div class="ct_footer left">
											<span class="stretched-link fs-md">Browse Items <i class="ti-arrow-circle-right"></i></span>
										</div>
									</div>
								</a>
							</div>
							
							<div class="single_cats">
								<a href="#" class="cards card-overflow card-scale md_height">
									<div class="bg-image" style="background:url({% static 'assets/img/newImages/new1/6.png' %})no-repeat;"></div>
									<div class="ct_body">
										<div class="ct_body_caption left">	
											<h2 class="m-0 ft-bold lh-1 fs-md text-upper">Men's Wear</h2>
											<span>7632 Items</span>
										</div>
										<div class="ct_footer left">
											<span class="stretched-link fs-md">Browse Items <i class="ti-arrow-circle-right"></i></span>
										</div>
									</div>
								</a>
							</div>
							
						</div>
						
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
							<!-- row -->
							<div class="row no-gutters">
								
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
									<div class="single_cats">
										<a href="#" class="cards card-overflow card-scale md_height">
											<div class="bg-image" style="background:url({% static 'assets/img/newImages/new1/8.png' %})no-repeat;"></div>
											<div class="ct_body">
												<div class="ct_body_caption left">	
													<h2 class="m-0 ft-bold lh-1 fs-md text-upper">Kid's Wear</h2>
													<span>4072 Items</span>
												</div>
												<div class="ct_footer left">
													<span class="stretched-link fs-md">Browse Items <i class="ti-arrow-circle-right"></i></span>
												</div>
											</div>
										</a>
									</div>
									<div class="single_cats">
										<a href="#" class="cards card-overflow card-scale lg_height">
											<div class="bg-image" style="background:url({% static 'assets/img/newImages/new1/7.png' %})no-repeat;"></div>
											<div class="ct_body">
												<div class="ct_body_caption left">	
													<h2 class="m-0 ft-bold lh-1 fs-md text-upper">Men's Jackets</h2>
													<span>9652 Items</span>
												</div>
												<div class="ct_footer left">
													<span class="stretched-link fs-md">Browse Items <i class="ti-arrow-circle-right"></i></span>
												</div>
											</div>
										</a>
									</div>
								</div>
								
							</div>
							<!-- /row -->
							
						</div>
					</div>
                    <div class="row no-gutters exlio_gutters">
						
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<!-- row -->
							<div class="row no-gutters">
								
								<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
									<div class="single_cats">
										<a href="#" class="cards card-overflow card-scale mid_height">
											<div class="bg-image" style="background:url({% static 'assets/img/newImages/new1/big.png' %})no-repeat;"></div>
											<div class="ct_body">
												<div class="ct_body_caption left">
													<h6 class="mb-1">Up to 30% Off</h6>
													<h1 class="mb-2 ft-bold lh-1 fs-md text-upper">Women Wear</h1>
													<span>4232 Items</span>
												</div>
												<div class="ct_footer left">
													<span class="stretched-link fs-md">Browse Items <i class="ti-arrow-circle-right"></i></span>
												</div>
											</div>
										</a>
									</div>
								</div>
								
								<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
									<div class="single_cats">
										<a href="#" class="cards card-overflow card-scale mid_height">
											<div class="bg-image" style="background:url({% static 'assets/img/b-3.png' %})no-repeat;"></div>
											<div class="ct_body">
												<div class="ct_body_caption left">	
													<h6 class="mb-1">Up to 40% Off</h6>
													<h1 class="mb-2 ft-bold lh-1 fs-md text-upper">Kids Wear</h1>
													<span>5615 Items</span>
												</div>
												<div class="ct_footer left">
													<span class="stretched-link fs-md">Browse Items <i class="ti-arrow-circle-right"></i></span>
												</div>
											</div>
										</a>
									</div>
								</div>
								
								<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
									<div class="single_cats">
										<a href="#" class="cards card-overflow card-scale mid_height">
											<div class="bg-image" style="background:url({% static 'assets/img/c-8.png' %})no-repeat;"></div>
											<div class="ct_body">
												<div class="ct_body_caption left">	
													<h6 class="mb-1">Up to 45% Off</h6>
													<h1 class="mb-2 ft-bold lh-1 fs-md text-upper">Kitchen Accessories</h1>
													<span>3215 Items</span>
												</div>
												<div class="ct_footer left">
													<span class="stretched-link fs-md">Browse Items <i class="ti-arrow-circle-right"></i></span>
												</div>
											</div>
										</a>
									</div>
								</div>
								
							</div>
							<!-- /row -->
							
						</div>
					</div>
				
				</div>
			</section>
			<!-- ============================ Category Style =============================== -->
			

            
            			<!-- ======================= Products Lists ======================== -->
			<section class="space min">
				<div class="container-fluid">
					
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
							

						
								<!-- All Content -->
						
										<div class="row rows-products">
											
											<!-- Single -->
											<div class="col-xl-3 col-lg-4 col-md-6 col-6">
                                                <div class="product_grid card b-0">
                                                    <div class="badge bg-info text-white position-absolute ft-regular ab-left text-upper">Sale</div>
													<div class="badge bg-danger text-white position-absolute ft-regular ab-right text-upper">-40%</div>
                                                    <div class="card-body p-0">
                                                        <div class="shop_thumb position-relative">
                                                            <a class="card-img-top d-block overflow-hidden ovr-hide" href="#">
                                                                <img class="card-img-top" src="{% static 'assets/img/newImages/new1/product-1.png' %}" alt="">
                                                            </a>
                                                            <a class="card-img-top d-block overflow-hidden ovr-show" href="#">
                                                                <img class="card-img-top" src="{% static 'assets/img/newImages/new1/product-2.png' %}" alt="">
                                                            </a>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="card-footer b-0 p-3 pb-0 bg-white d-flex align-items-start justify-content-center">
                                                        <div class="text-left">
                                                            <div class="text-center">
                                                                <h5 class="fw-bolder fs-md mb-0 lh-1 mb-1"><a href="#">Beautiful Design Dress</a></h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
											</div>
                                            
                                            
                                            <!-- Single -->
											<div class="col-xl-3 col-lg-4 col-md-6 col-6">
                                                <div class="product_grid card b-0">
                                                    <div class="badge bg-info text-white position-absolute ft-regular ab-left text-upper">Sale</div>
													<div class="badge bg-danger text-white position-absolute ft-regular ab-right text-upper">-40%</div>
                                                    <div class="card-body p-0">
                                                        <div class="shop_thumb position-relative">
                                                            <a class="card-img-top d-block overflow-hidden ovr-hide" href="#">
                                                                <img class="card-img-top" src="{% static 'assets/img/newImages/new1/product-2.png' %}" alt="">
                                                            </a>
                                                            <a class="card-img-top d-block overflow-hidden ovr-show" href="#">
                                                                <img class="card-img-top" src="{% static 'assets/img/newImages/new1/product-2.png' %}" alt="">
                                                            </a>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="card-footer b-0 p-3 pb-0 bg-white d-flex align-items-start justify-content-center">
                                                        <div class="text-left">
                                                            <div class="text-center">
                                                                <h5 class="fw-bolder fs-md mb-0 lh-1 mb-1"><a href="#">Beautiful Design Dress</a></h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
											</div>
                                            
                                            <!-- Single -->
											<div class="col-xl-3 col-lg-4 col-md-6 col-6">
                                                <div class="product_grid card b-0">
                                                    <div class="badge bg-info text-white position-absolute ft-regular ab-left text-upper">Sale</div>
													<div class="badge bg-danger text-white position-absolute ft-regular ab-right text-upper">-40%</div>
                                                    <div class="card-body p-0">
                                                        <div class="shop_thumb position-relative">
                                                            <a class="card-img-top d-block overflow-hidden ovr-hide" href="#">
                                                                <img class="card-img-top" src="{% static 'assets/img/newImages/new1/product-3.png' %}" alt="">
                                                            </a>
                                                            <a class="card-img-top d-block overflow-hidden ovr-show" href="#">
                                                                <img class="card-img-top" src="{% static 'assets/img/newImages/new1/product-2.png' %}" alt="">
                                                            </a>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="card-footer b-0 p-3 pb-0 bg-white d-flex align-items-start justify-content-center">
                                                        <div class="text-left">
                                                            <div class="text-center">
                                                                <h5 class="fw-bolder fs-md mb-0 lh-1 mb-1"><a href="#">Beautiful Design Dress</a></h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
											</div>
                                            
                                            											<!-- Single -->
											<div class="col-xl-3 col-lg-4 col-md-6 col-6">
                                                <div class="product_grid card b-0">
                                                    <div class="badge bg-info text-white position-absolute ft-regular ab-left text-upper">Sale</div>
													<div class="badge bg-danger text-white position-absolute ft-regular ab-right text-upper">-40%</div>
                                                    <div class="card-body p-0">
                                                        <div class="shop_thumb position-relative">
                                                            <a class="card-img-top d-block overflow-hidden ovr-hide" href="#">
                                                                <img class="card-img-top" src="{% static 'assets/img/newImages/new1/product-1.png' %}" alt="">
                                                            </a>
                                                            <a class="card-img-top d-block overflow-hidden ovr-show" href="#">
                                                                <img class="card-img-top" src="{% static 'assets/img/newImages/new1/product-2.png' %}" alt="">
                                                            </a>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="card-footer b-0 p-3 pb-0 bg-white d-flex align-items-start justify-content-center">
                                                        <div class="text-left">
                                                            <div class="text-center">
                                                                <h5 class="fw-bolder fs-md mb-0 lh-1 mb-1"><a href="#">Beautiful Design Dress</a></h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
											</div>
                                            
                                            
                                            <!-- Single -->
											<div class="col-xl-3 col-lg-4 col-md-6 col-6">
                                                <div class="product_grid card b-0">
                                                    <div class="badge bg-info text-white position-absolute ft-regular ab-left text-upper">Sale</div>
													<div class="badge bg-danger text-white position-absolute ft-regular ab-right text-upper">-40%</div>
                                                    <div class="card-body p-0">
                                                        <div class="shop_thumb position-relative">
                                                            <a class="card-img-top d-block overflow-hidden ovr-hide" href="#">
                                                                <img class="card-img-top" src="{% static 'assets/img/newImages/new1/product-2.png' %}" alt="">
                                                            </a>
                                                            <a class="card-img-top d-block overflow-hidden ovr-show" href="#">
                                                                <img class="card-img-top" src="{% static 'assets/img/newImages/new1/product-2.png' %}" alt="">
                                                            </a>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="card-footer b-0 p-3 pb-0 bg-white d-flex align-items-start justify-content-center">
                                                        <div class="text-left">
                                                            <div class="text-center">
                                                                <h5 class="fw-bolder fs-md mb-0 lh-1 mb-1"><a href="#">Beautiful Design Dress</a></h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
											</div>
                                            
                                            <!-- Single -->
											<div class="col-xl-3 col-lg-4 col-md-6 col-6">
                                                <div class="product_grid card b-0">
                                                    <div class="badge bg-info text-white position-absolute ft-regular ab-left text-upper">Sale</div>
													<div class="badge bg-danger text-white position-absolute ft-regular ab-right text-upper">-40%</div>
                                                    <div class="card-body p-0">
                                                        <div class="shop_thumb position-relative">
                                                            <a class="card-img-top d-block overflow-hidden ovr-hide" href="#">
                                                                <img class="card-img-top" src="{% static 'assets/img/newImages/new1/product-3.png' %}" alt="">
                                                            </a>
                                                            <a class="card-img-top d-block overflow-hidden ovr-show" href="#">
                                                                <img class="card-img-top" src="{% static 'assets/img/newImages/new1/product-2.png' %}" alt="">
                                                            </a>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="card-footer b-0 p-3 pb-0 bg-white d-flex align-items-start justify-content-center">
                                                        <div class="text-left">
                                                            <div class="text-center">
                                                                <h5 class="fw-bolder fs-md mb-0 lh-1 mb-1"><a href="#">Beautiful Design Dress</a></h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
											</div>
                                            
                                            											<!-- Single -->
											<div class="col-xl-3 col-lg-4 col-md-6 col-6">
                                                <div class="product_grid card b-0">
                                                    <div class="badge bg-info text-white position-absolute ft-regular ab-left text-upper">Sale</div>
													<div class="badge bg-danger text-white position-absolute ft-regular ab-right text-upper">-40%</div>
                                                    <div class="card-body p-0">
                                                        <div class="shop_thumb position-relative">
                                                            <a class="card-img-top d-block overflow-hidden ovr-hide" href="#">
                                                                <img class="card-img-top" src="{% static 'assets/img/newImages/new1/product-1.png' %}" alt="">
                                                            </a>
                                                            <a class="card-img-top d-block overflow-hidden ovr-show" href="#">
                                                                <img class="card-img-top" src="{% static 'assets/img/newImages/new1/product-2.png' %}" alt="">
                                                            </a>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="card-footer b-0 p-3 pb-0 bg-white d-flex align-items-start justify-content-center">
                                                        <div class="text-left">
                                                            <div class="text-center">
                                                                <h5 class="fw-bolder fs-md mb-0 lh-1 mb-1"><a href="#">Beautiful Design Dress</a></h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
											</div>
                                            
                                            
                                            <!-- Single -->
											<div class="col-xl-3 col-lg-4 col-md-6 col-6">
                                                <div class="product_grid card b-0">
                                                    <div class="badge bg-info text-white position-absolute ft-regular ab-left text-upper">Sale</div>
													<div class="badge bg-danger text-white position-absolute ft-regular ab-right text-upper">-40%</div>
                                                    <div class="card-body p-0">
                                                        <div class="shop_thumb position-relative">
                                                            <a class="card-img-top d-block overflow-hidden ovr-hide" href="#">
                                                                <img class="card-img-top" src="{% static 'assets/img/newImages/new1/product-2.png' %}" alt="">
                                                            </a>
                                                            <a class="card-img-top d-block overflow-hidden ovr-show" href="#">
                                                                <img class="card-img-top" src="{% static 'assets/img/newImages/new1/product-2.png' %}" alt="">
                                                            </a>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="card-footer b-0 p-3 pb-0 bg-white d-flex align-items-start justify-content-center">
                                                        <div class="text-left">
                                                            <div class="text-center">
                                                                <h5 class="fw-bolder fs-md mb-0 lh-1 mb-1"><a href="#">Beautiful Design Dress</a></h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
											</div>

                                            
                                            
                                            
                                            
   
										</div>
							

						
							
						</div>
					</div>
					
				</div>
			</section>
			<!-- ========
            
            			 ======================= Good Deals Start ============================ -->
			<section class="space gray">
				<div class="container">
					
					<div class="row justify-content-center">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<div class="sec_title position-relative text-center">
								<h2 class="off_title">Good Deals</h2>
								<h3 class="ft-bold pt-3">Deals of The Day</h3>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<div class="slide_items">
								
								<!-- single Item -->
								<div class="single_itesm">
									<div class="product_grid card b-0">
                                        <div class="badge bg-info text-white position-absolute ft-regular ab-left text-upper">Sale</div>
                                        <div class="badge bg-danger text-white position-absolute ft-regular ab-right text-upper">-40%</div>
                                        <div class="card-body p-0">
                                            <div class="shop_thumb position-relative">
                                                <a class="card-img-top d-block overflow-hidden ovr-hide" href="#">
                                                    <img class="card-img-top" src="{% static 'assets/img/newImages/new1/product-2.png' %}" alt="">
                                                </a>
                                                <a class="card-img-top d-block overflow-hidden ovr-show" href="#">
                                                    <img class="card-img-top" src="{% static 'assets/img/newImages/new1/product-3.png' %}" alt="">
                                                </a>
                                                
                                            </div>
                                        </div>
                                        <div class="card-footer b-0 p-3 pb-0 bg-white d-flex align-items-start justify-content-center">
                                            <div class="text-left">
                                                <div class="text-center">
                                                    <h5 class="fw-bolder fs-md mb-0 lh-1 mb-1"><a href="#">Beautiful Design Dress</a></h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
								</div>
								
								<!-- single Item -->
								<div class="single_itesm">
									<div class="product_grid card b-0">
                                                    <div class="badge bg-info text-white position-absolute ft-regular ab-left text-upper">Sale</div>
													<div class="badge bg-danger text-white position-absolute ft-regular ab-right text-upper">-40%</div>
                                                    <div class="card-body p-0">
                                                        <div class="shop_thumb position-relative">
                                                            <a class="card-img-top d-block overflow-hidden ovr-hide" href="#">
                                                                <img class="card-img-top" src="{% static 'assets/img/newImages/new1/product-1.png' %}" alt="">
                                                            </a>
                                                            <a class="card-img-top d-block overflow-hidden ovr-show" href="#">
                                                                <img class="card-img-top" src="{% static 'assets/img/newImages/new1/product-2.png' %}" alt="">
                                                            </a>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="card-footer b-0 p-3 pb-0 bg-white d-flex align-items-start justify-content-center">
                                                        <div class="text-left">
                                                            <div class="text-center">
                                                                <h5 class="fw-bolder fs-md mb-0 lh-1 mb-1"><a href="#">Beautiful Design Dress</a></h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
								</div>
								
								<!-- single Item -->
								<div class="single_itesm">
									<div class="product_grid card b-0">
                                                    <div class="badge bg-info text-white position-absolute ft-regular ab-left text-upper">Sale</div>
													<div class="badge bg-danger text-white position-absolute ft-regular ab-right text-upper">-40%</div>
                                                    <div class="card-body p-0">
                                                        <div class="shop_thumb position-relative">
                                                            <a class="card-img-top d-block overflow-hidden ovr-hide" href="#">
                                                                <img class="card-img-top" src="{% static 'assets/img/newImages/new1/product-2.png' %}" alt="">
                                                            </a>
                                                            <a class="card-img-top d-block overflow-hidden ovr-show" href="#">
                                                                <img class="card-img-top" src="{% static 'assets/img/newImages/new1/product-3.png' %}" alt="">
                                                            </a>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="card-footer b-0 p-3 pb-0 bg-white d-flex align-items-start justify-content-center">
                                                        <div class="text-left">
                                                            <div class="text-center">
                                                                <h5 class="fw-bolder fs-md mb-0 lh-1 mb-1"><a href="#">Beautiful Design Dress</a></h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
								</div>
								
								<!-- single Item -->
								<div class="single_itesm">
									<div class="product_grid card b-0">
                                                    <div class="badge bg-info text-white position-absolute ft-regular ab-left text-upper">Sale</div>
													<div class="badge bg-danger text-white position-absolute ft-regular ab-right text-upper">-40%</div>
                                                    <div class="card-body p-0">
                                                        <div class="shop_thumb position-relative">
                                                            <a class="card-img-top d-block overflow-hidden ovr-hide" href="#">
                                                                <img class="card-img-top" src="{% static 'assets/img/newImages/new1/product-3.png' %}" alt="">
                                                            </a>
                                                            <a class="card-img-top d-block overflow-hidden ovr-show" href="#">
                                                                <img class="card-img-top" src="{% static 'assets/img/newImages/new1/product-1.png' %}" alt="">
                                                            </a>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="card-footer b-0 p-3 pb-0 bg-white d-flex align-items-start justify-content-center">
                                                        <div class="text-left">
                                                            <div class="text-center">
                                                                <h5 class="fw-bolder fs-md mb-0 lh-1 mb-1"><a href="#">Beautiful Design Dress</a></h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
								</div>
								
								<!-- single Item -->
								<div class="single_itesm">
									<div class="product_grid card b-0">
                                                    <div class="badge bg-info text-white position-absolute ft-regular ab-left text-upper">Sale</div>
													<div class="badge bg-danger text-white position-absolute ft-regular ab-right text-upper">-40%</div>
                                                    <div class="card-body p-0">
                                                        <div class="shop_thumb position-relative">
                                                            <a class="card-img-top d-block overflow-hidden ovr-hide" href="#">
                                                                <img class="card-img-top" src="{% static 'assets/img/newImages/new1/product-1.png' %}" alt="">
                                                            </a>
                                                            <a class="card-img-top d-block overflow-hidden ovr-show" href="#">
                                                                <img class="card-img-top" src="{% static 'assets/img/newImages/new1/product-2.png' %}" alt="">
                                                            </a>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="card-footer b-0 p-3 pb-0 bg-white d-flex align-items-start justify-content-center">
                                                        <div class="text-left">
                                                            <div class="text-center">
                                                                <h5 class="fw-bolder fs-md mb-0 lh-1 mb-1"><a href="#">Beautiful Design Dress</a></h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
								</div>
								
								<!-- single Item -->
								<div class="single_itesm">
									<div class="product_grid card b-0">
                                        <div class="badge bg-info text-white position-absolute ft-regular ab-left text-upper">Sale</div>
                                        <div class="badge bg-danger text-white position-absolute ft-regular ab-right text-upper">-40%</div>
                                        <div class="card-body p-0">
                                            <div class="shop_thumb position-relative">
                                                <a class="card-img-top d-block overflow-hidden ovr-hide" href="#">
                                                    <img class="card-img-top" src="{% static 'assets/img/newImages/new1/product-3.png' %}" alt="">
                                                </a>
                                                <a class="card-img-top d-block overflow-hidden ovr-show" href="#">
                                                    <img class="card-img-top" src="{% static 'assets/img/newImages/new1/product-2.png' %}" alt="">
                                                </a>
                                                
                                            </div>
                                        </div>
                                        <div class="card-footer b-0 p-3 pb-0 bg-white d-flex align-items-start justify-content-center">
                                            <div class="text-left">
                                                <div class="text-center">
                                                    <h5 class="fw-bolder fs-md mb-0 lh-1 mb-1"><a href="#">Beautiful Design Dress</a></h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
								</div>
								
								<!-- single Item -->
								<div class="single_itesm">
									<div class="product_grid card b-0">
                                                    <div class="badge bg-info text-white position-absolute ft-regular ab-left text-upper">Sale</div>
													<div class="badge bg-danger text-white position-absolute ft-regular ab-right text-upper">-40%</div>
                                                    <div class="card-body p-0">
                                                        <div class="shop_thumb position-relative">
                                                            <a class="card-img-top d-block overflow-hidden ovr-hide" href="#">
                                                                <img class="card-img-top" src="{% static 'assets/img/newImages/new1/product-3.png' %}" alt="">
                                                            </a>
                                                            <a class="card-img-top d-block overflow-hidden ovr-show" href="#">
                                                                <img class="card-img-top" src="{% static 'assets/img/newImages/new1/product-2.png' %}" alt="">
                                                            </a>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="card-footer b-0 p-3 pb-0 bg-white d-flex align-items-start justify-content-center">
                                                        <div class="text-left">
                                                            <div class="text-center">
                                                                <h5 class="fw-bolder fs-md mb-0 lh-1 mb-1"><a href="#">Beautiful Design Dress</a></h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
								</div>
								
							</div>
						</div>
					</div>
					
				</div>
			</section>
			<!-- ======================= Good Deals Start ============================ -->
			

            			<!-- ======================= Contact Page Detail ======================== -->
			<section class="middle ">
				<div class="container">
				
					<div class="row justify-content-center">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<div class="sec_title position-relative text-center">
								<h2 class="off_title">Contact Us</h2>
								<h3 class="ft-bold pt-3">Get In Touch</h3>
							</div>
						</div>
					</div>
					
					<div class="row align-items-start justify-content-between">
					
						<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
							<div class="card-wrap-body mb-4">
								<h4 class="ft-medium mb-3 theme-cl">Make a Call</h4>
								<p>1354 Green Street Nashville Drive Dodge City,<br> KS 67801 United States</p>
								<p class="lh-1"><span class="text-dark ft-medium">Email:</span> dhananjaypreet@gmail.com</p>
							</div>
							
							<div class="card-wrap-body mb-3">
								<h4 class="ft-medium mb-3 theme-cl">Make a Call</h4>
								<h6 class="ft-medium mb-1">Customer Care:</h6>
								<p class="mb-2">+91 458 753 6924</p>
								<h6 class="ft-medium mb-1">Careers::</h6>
								<p>+91 965 784 23658</p>
							</div>
							
							<div class="card-wrap-body mb-3">
								<h4 class="ft-medium mb-3 theme-cl">Drop A Mail</h4>
								<p>Fill out our form and we will contact you within 24 hours.</p>
								<p class="lh-1 text-dark">dhananjaypreet@gmail.com</p>
								<p class="lh-1 text-dark">dhananjaypreet@gmail.com</p>
							</div>
						</div>
						
						<div class="col-xl-7 col-lg-8 col-md-12 col-sm-12">
							<form class="row" method="post" action="{% url 'contact_us:contact_us' %}">
                                {% csrf_token %}
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
									<div class="form-group">
										<label class=" text-dark ft-medium">Your Name *</label>
										<input type="text" class="form-control" placeholder="Your Name" name="name" required>
									</div>
								</div>
								
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
									<div class="form-group">
										<label class=" text-dark ft-medium">Your Email *</label>
										<input type="email" class="form-control" placeholder="Your Email" name="email" required >
									</div>
								</div>
								
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
									<div class="form-group">
										<label class=" text-dark ft-medium">Subject</label>
										<input type="text" class="form-control" placeholder="Type Your Subject" name="subject" required>
									</div>
								</div>
								
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
									<div class="form-group">
										<label class=" text-dark ft-medium">Message</label>
										<textarea class="form-control ht-80" name="message" required></textarea>
									</div>
								</div>
								
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
									<div class="form-group">
										<button type="submit" class="btn btn-dark">Send Message</button>
									</div>
								</div>
                                {% comment %} django message with button close {% endcomment %}
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                            {{ message }}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                
							</form>
						</div>
						
					</div>
				</div>
			</section>
			<!-- ======================= Contact Page End ======================== -->
			


			<!-- ======================= Instagram Start ============================ -->
			<section class="p-0">
				<div class="container-fluid p-0">
					

					
					<div class="row no-gutters">
						
						<div class="col">
							<div class="_insta_wrap">
								<div class="_insta_thumb">
									<a href="javascript:void(0);" class="d-block"><img src="{% static 'assets/img/i-1.png' %}" class="img-fluid" alt="" /></a>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="_insta_wrap">
								<div class="_insta_thumb">
									<a href="javascript:void(0);" class="d-block"><img src="{% static 'assets/img/i-2.png' %}" class="img-fluid" alt="" /></a>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="_insta_wrap">
								<div class="_insta_thumb">
									<a href="javascript:void(0);" class="d-block"><img src="{% static 'assets/img/i-3.png' %}" class="img-fluid" alt="" /></a>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="_insta_wrap">
								<div class="_insta_thumb">
									<a href="javascript:void(0);" class="d-block"><img src="{% static 'assets/img/i-7.png' %}" class="img-fluid" alt="" /></a>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="_insta_wrap">
								<div class="_insta_thumb">
									<a href="javascript:void(0);" class="d-block"><img src="{% static 'assets/img/i-8.png' %}" class="img-fluid" alt="" /></a>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="_insta_wrap">
								<div class="_insta_thumb">
									<a href="javascript:void(0);" class="d-block"><img src="{% static 'assets/img/i-4.png' %}" class="img-fluid" alt="" /></a>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="_insta_wrap">
								<div class="_insta_thumb">
									<a href="javascript:void(0);" class="d-block"><img src="{% static 'assets/img/i-5.png' %}" class="img-fluid" alt="" /></a>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="_insta_wrap">
								<div class="_insta_thumb">
									<a href="javascript:void(0);" class="d-block"><img src="{% static 'assets/img/i-6.png' %}" class="img-fluid" alt="" /></a>
								</div>
							</div>
						</div>
						
					</div>
					
				</div>
			</section>
			<!-- ======================= Instagram Start ============================ -->
			
			
{% endblock %}