{% extends 'base.html' %}
{% load static %}

{% block body %}
<!-- ======================= Shop Style 1 ======================== -->
<section class="bg-cover" style="background:url({% static 'assets/img/newImages/new1/banner-2.png' %}) no-repeat;">
	<div class="container">
		<div class="row align-items-center justify-content-center">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<div class="text-center py-5 mt-3 mb-3">
					<h1 class="ft-medium mb-3">Poster & Banners</h1>
					<ul class="shop_categories_list m-0 p-0">
						<li><a href="{% url 'home:home' %}">Home</a></li>
						<li><a href="#">Poster & Banners</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ======================= Shop Style 1 ======================== -->




			<!-- ========================= Category Style ========================== -->
			<div class="BannerAndBosterMockup">
				<div class="container">
					<div class="titileDescr">
						<h2>COMING SOON</h2>
						<!-- <h2>Do you have a specific theme, purpose, or content for the poster in mind?</h2> -->
						<div class="descriptionPara" style="display: none;">
							<p class="">Knowing this will help in creating a design that suits your needs. Lamination - Protect with a durable layer. Paper Type - Choose from glossy, matte & more. Orientation - Portrait or landscape? Size - A3, A2, A1, or custom dimensions. Mounting - Select your preferred option. Quantity - Specify the number needed. Upload Your Design - Ready to print!"</p>
						</div>
					</div>
					<div class="row" style="display: none;">
						<div class="col-lg-5 col-md-5 col-sm-12">
							<div class="mockupsImagess">
								<div class="mokUpImageItem">
									<img id="previewMockImage" class="imageMock" src="{% static 'assets/img/newImages/mockups/1t.png' %}">
									<img id="previewImage" class="imageUploaded" src="{% static 'assets/img/newImages/New_products/8.png' %}" >
								</div>
							</div>
						</div>
						<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
							<div class="customModal">
								<div class="modal-body">
									<div class="customForm">
										<form>	
											<div class="row">
												<div class="col-lg-6">
													<div class="form-group">
														<label>Lamination</label>
														<select class="form-control" required>
															<option value="">None</option>
															<option> Glossy</option>
															<option> Matte</option>
															<option> Textured</option>
															<option> Dry Erase</option>
														</select>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="form-group">
														<label>Paper Type</label>
														<select class="form-control" required>
															<option value="">None</option>
															<option> Matte Paper</option>
															<option> Glossy Paper</option>
														</select>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="form-group">
														<label>Orintation</label>
														<select class="form-control" required>
															<option value="">None</option>
															<option> Vertical</option>
															<option> Horizenal</option>
														</select>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="form-group">
														<label>Size</label>
														<select id="imageSize" class="form-control" onchange="changeImageSize()" required>
															<option value="">Select Size</option>
															<option value="16x20">16In X 20In</option>
															<option value="18x24">18In X 24In</option>
															<option value="22x28">22In X 28In</option>
															<option value="24x36">24In X 36In</option>
															<option value="36x48">36In X 48In</option>
														</select>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="form-group">
														<label>Mounting</label>
														<select class="form-control" required>
															<option value="">Select Size</option>
															<option> Size</option>
															<option> Size</option>
															<option> Size</option>
															<option> Size</option>
														</select>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="form-group">
														<label>Quantity</label>
														<input min="1" type="number" class="form-control" required>
													</div>
												</div>
												<div class="col-lg-12">
													<div class="form-group">
														<label>Upload Poster Or Banner</label>
														<input id="uploadPoster" type="file" class="form-control" required>
													</div>
												</div>
												<div class="col-lg-12">
													<div class="form-group">
														<h2 class="printingCoast">Printing Coast <span>17.5 $</span></h2>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="row">
													<div class="col-lg-6 col-md-6">
														<button type="submit" class="btn btn-md  bg-dark text-light fs-md ft-medium">Submit Now</button>
													</div>
													<div class="col-lg-6 col-md-6">
														<button onclick="previewImage()" type="button"  class="btn btn-md PreviewBUTTON  fs-md ft-medium">Preview Poster</button>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
	
				</div>
			</div>

<section class="middle p-0" style="display: none;">
	<div class="container-fluid">
		<div class="row no-gutters exlio_gutters">

			
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
				<div class="single_cats">
					<a href="#" class="cards card-overflow card-scale lg_height">
					 
						<div class="bg-image" style="background:url({% static 'assets/img/newImages/new1/big.png' %})no-repeat;"></div>
						<div class="ct_body">
							<div class="ct_body_caption left">	
								<h2 class="m-0 ft-bold lh-1 fs-md text-upper">Women Clothes</h2>
								<span>3272 Items</span>
							</div>
							<div class="ct_footer left">
								<span class="stretched-link fs-md">Browse Items <i class="ti-arrow-circle-right"></i></span>
							</div>
						</div>
					</a>
				</div>
				
				<div class="single_cats">
					<a href="#" class="cards card-overflow card-scale md_height">
						<div class="bg-image" style="background:url({% static 'assets/img/newImages/new1/cap-banner.png' %})no-repeat;"></div>
						<div class="ct_body">
							<div class="ct_body_caption left">	
								<h2 class="m-0 ft-bold lh-1 fs-md text-upper">Men's Wear</h2>
								<span>7632 Items</span>
							</div>
							<div class="ct_footer left">
								<span class="stretched-link fs-md">Browse Items <i class="ti-arrow-circle-right"></i></span>
							</div>
						</div>
					</a>
				</div>
				
			</div>
			
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
				<!-- row -->
				<div class="row no-gutters">
					
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
						<div class="single_cats">
							<a href="#" class="cards card-overflow card-scale md_height">
								<div class="bg-image" style="background:url({% static 'assets/img/newImages/new1/pants.png' %})no-repeat;"></div>
								<div class="ct_body">
									<div class="ct_body_caption left">	
										<h2 class="m-0 ft-bold lh-1 fs-md text-upper">Kid's Wear</h2>
										<span>4072 Items</span>
									</div>
									<div class="ct_footer left">
										<span class="stretched-link fs-md">Browse Items <i class="ti-arrow-circle-right"></i></span>
									</div>
								</div>
							</a>
						</div>
						<div class="single_cats">
							<a href="#" class="cards card-overflow card-scale lg_height">
								<div class="bg-image" style="background:url({% static 'assets/img/b-7.png' %})no-repeat;"></div>
								<div class="ct_body">
									<div class="ct_body_caption left">	
										<h2 class="m-0 ft-bold lh-1 fs-md text-upper">Men's Jackets</h2>
										<span>9652 Items</span>
									</div>
									<div class="ct_footer left">
										<span class="stretched-link fs-md">Browse Items <i class="ti-arrow-circle-right"></i></span>
									</div>
								</div>
							</a>
						</div>
					</div>
					
				</div>
				<!-- /row -->
				
			</div>
		
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<!-- row -->
				<div class="row no-gutters">
					
					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
						<div class="single_cats">
							<a href="#" class="cards card-overflow card-scale mid_height">
								<div class="bg-image" style="background:url({% static 'assets/img/newImages/new1/big.png' %})no-repeat;"></div>
								<div class="ct_body">
									<div class="ct_body_caption left">
										<h6 class="mb-1">Up to 30% Off</h6>
										<h1 class="mb-2 ft-bold lh-1 fs-md text-upper">Women Wear</h1>
										<span>4232 Items</span>
									</div>
									<div class="ct_footer left">
										<span class="stretched-link fs-md">Browse Items <i class="ti-arrow-circle-right"></i></span>
									</div>
								</div>
							</a>
						</div>
					</div>
					
					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
						<div class="single_cats">
							<a href="#" class="cards card-overflow card-scale mid_height">
							   
								<div class="bg-image" style="background:url({% static 'assets/img/newImages/new1/pants.png' %})no-repeat;"></div>
								<div class="ct_body">
									<div class="ct_body_caption left">	
										<h6 class="mb-1">Up to 40% Off</h6>
										<h1 class="mb-2 ft-bold lh-1 fs-md text-upper">Kids Wear</h1>
										<span>5615 Items</span>
									</div>
									<div class="ct_footer left">
										<span class="stretched-link fs-md">Browse Items <i class="ti-arrow-circle-right"></i></span>
									</div>
								</div>
							</a>
						</div>
					</div>
					
					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
						<div class="single_cats">
							<a href="#" class="cards card-overflow card-scale mid_height">
								<div class="bg-image" style="background:url({% static 'assets/img/c-8.png' %})no-repeat;"></div>
								<div class="ct_body">
									<div class="ct_body_caption left">	
										<h6 class="mb-1">Up to 45% Off</h6>
										<h1 class="mb-2 ft-bold lh-1 fs-md text-upper">Kitchen Accessories</h1>
										<span>3215 Items</span>
									</div>
									<div class="ct_footer left">
										<span class="stretched-link fs-md">Browse Items <i class="ti-arrow-circle-right"></i></span>
									</div>
								</div>
							</a>
						</div>
					</div>
					
				</div>
				<!-- /row -->
				
			</div>
			
			
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
				<div class="single_cats">
					<a href="#" class="cards card-overflow card-scale lg_height">
						<div class="bg-image left" style="background:url({% static 'assets/img/newImages/new1/big.png' %})no-repeat;"></div>
						<div class="ct_body">
							<div class="ct_body_caption left lis-top">	
								<h2 class="ft-bold lh-1">Adventure Kille<br>Goggles</h2>
								<span class="ft-medium text-underline">Start From $10.99</span>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
				<div class="single_cats">
					<a href="#" class="cards card-overflow card-scale lg_height">
						<div class="bg-image left" style="background:url({% static 'assets/img/newImages/new1/big.png' %})no-repeat;"></div>
						<div class="ct_body">
							<div class="ct_body_caption left lis-top">	
								<h2 class="ft-bold lh-1">Adventure Kille<br>Goggles</h2>
								<span class="ft-medium text-underline">Start From $10.99</span>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	
	</div>
</section>
<!-- ============================ Category Style =============================== -->


 			<!-- Log In Modal -->
			 <!-- <div class="modal customModal fade" id="AddPannerAndBost" tabindex="-1" role="dialog" aria-labelledby="loginmodal" aria-hidden="true">
				<div class="modal-dialog modal-lg login-pop-form" role="document">
					<div class="modal-content" id="loginmodal">
						<div class="modal-headers">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Add Post & Banner</h1>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							  <span class="ti-close"></span>
							</button>
						  </div>
					
						<div class="modal-body">
						
							<div class="customForm">
                                <form>	
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Lamination</label>
                                                <select class="form-control" required>
                                                    <option value="">None</option>
                                                    <option> Glossy</option>
                                                    <option> Matte</option>
                                                    <option> Textured</option>
                                                    <option> Dry Erase</option>
                                                </select>

                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Paper Type</label>
                                                <select class="form-control" required>
                                                    <option value="">None</option>
                                                    <option> Matte Paper</option>
                                                    <option> Glossy Paper</option>
                                                    
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Orintation</label>
                                                <select class="form-control" required>
                                                    <option value="">None</option>
                                                    <option> Vertical</option>
                                                    <option> Horizenal</option>
                                                   
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Size</label>
                                                <select id="imageSize" class="form-control" onchange="changeImageSize()" required>
                                                    <option value="">Select Size</option>
                                                    <option value="16x20">16In X 20In</option>
                                                    <option value="18x24">18In X 24In</option>
                                                    <option value="22x28">22In X 28In</option>
                                                    <option value="24x36">24In X 36In</option>
                                                    <option value="36x48">36In X 48In</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Mounting</label>
                                                <select class="form-control" required>
                                                    <option value="">Select Size</option>
                                                    <option> Size</option>
                                                    <option> Size</option>
                                                    <option> Size</option>
                                                    <option> Size</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Quantity</label>
                                                <input min="1" type="number" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label>Upload Poster Or Banner</label>
                                                <input id="uploadPoster" type="file" class="form-control" required>
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <h2 class="printingCoast">Printing Coast <span>17.5 $</span></h2>
                                            </div>
                                        </div>
                                    </div>
								
								
								
                                                    
                                
                                                    
                                
                                
                                
                                
								
								
								
								<div class="form-group">
									<div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <button type="submit" class="btn btn-md  bg-dark text-light fs-md ft-medium">Submit Now</button>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <button type="button" data-toggle="modal" data-target="#PreviewImage" class="btn btn-md PreviewBUTTON  fs-md ft-medium">Preview Poster</button>
                                        </div>
                                    </div>
								</div>
								
								
							</form>
						
                            
                            </div>
			
                        </div>
					</div>
				</div>
			</div> -->
			<!-- End Modal -->
            
            
                <!-- <div class="modal customModal fade" id="PreviewImage" tabindex="-1" role="dialog" aria-labelledby="loginmodal" aria-hidden="true">
				<div class="modal-dialog modal-lg login-pop-form" role="document">
					<div class="modal-content">
						<div class="modal-headers">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Privew Poster</h1>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							  <span class="ti-close"></span>
							</button>
						  </div>
					
						<div class="modal-body">
						
							<div class="customForm">
                                <div class="imagePriview" id="imagePreviewBox">
                                    <img id="imagePreview" src="assets/img/newImages/new1/pants.png">
                                </div>
                            
                            </div>
			
                        </div>
					</div>
				</div>
			</div> -->
			<!-- End Modal -->

			{% block script %}

			<script>
				function previewImage() {
					var selectedSize = document.getElementById("imageSize").value;
					var previewMockImage = document.getElementById("previewMockImage");
					var previewImg = document.getElementById('previewImage');
			
					switch (selectedSize) {
						case "16x20":
							previewMockImage.src = "{% static 'assets/img/newImages/mockups/1t.png' %}";
							previewImg.src = "{% static 'assets/img/newImages/New_products/16x20.png' %}";
							previewImg.style.width = '162px';
							previewImg.style.height = 'calc(100% - 150px)';
							previewImg.style.top = '70px';
							previewImg.style.left = '151px';
							break;
						case "18x24":
							previewMockImage.src = "{% static 'assets/img/newImages/mockups/2t.png' %}";
							previewImg.src = "{% static 'assets/img/newImages/New_products/18x24.png' %}";
							previewImg.style.width = '265px';
							previewImg.style.height = 'calc(100% - 135px)';
							previewImg.style.top = '74px';
							previewImg.style.left = '102px';
							break;
						case "22x28":
						previewMockImage.src = "{% static 'assets/img/newImages/mockups/3t.png' %}";
							previewImg.src = "{% static 'assets/img/newImages/New_products/18x24.png' %}";
							previewImg.style.width = '202px';
							previewImg.style.height = 'calc(100% - 190px)';
							previewImg.style.top = '72px';
							previewImg.style.left = '47px';
							break;
							break;
						case "24x36":
							previewMockImage.src = "{% static 'assets/img/newImages/mockups/4t.png' %}";
							previewImg.src = "{% static 'assets/img/newImages/New_products/18x24.png' %}";
							previewImg.style.width = 'calc(33% + 15px)';
							previewImg.style.height = 'calc(76% - 173px)';
							previewImg.style.top = '71px';
							previewImg.style.left = '152px';
							break;
							break;
						case "36x48":
							previewMockImage.src = "{% static 'assets/img/newImages/mockups/4t.png' %}";
							previewImg.src = "{% static 'assets/img/newImages/New_products/18x24.png' %}";
							previewImg.style.width = 'calc(33% + 15px)';
							previewImg.style.height = 'calc(76% - 173px)';
							previewImg.style.top = '71px';
							previewImg.style.left = '152px';
							break;
							break;
						default:
							previewImg.style.width = '150px';
							previewImg.style.height = 'calc(100% - 150px)';
							previewImg.style.top = '10px';
							previewImg.style.left = '20px';
							break;
					}
			
					const fileInput = document.getElementById('uploadPoster');
					const reader = new FileReader();
					reader.onloadend = function () {
						previewImg.src = reader.result;
					};
					const file = fileInput.files[0];
					if (file) {
						reader.readAsDataURL(file);
					} else {
						previewImg.src = "{% static 'assets/img/newImages/New_products/8.png' %}";
					}
				}
			</script>















			{% endblock %}


			{% endblock %}